<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">


</head>


<body>

    <header class="body-header">


        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercadolibre">

        <form>

            <input type="text" placeholder="Buscar productos , marcas y más">
            <i class="fa-solid fa-magnifying-glass"></i>

        </form>


        <h4 class="H4"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>



        <nav class="NAVPRINCIPAL">
            <ul type="none">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

        </nav>

        <nav class="NAVSECUNDARIO">
            <ul type="none">
                <li><a href="">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="">Ingresá<i class="fa-solid fa-right-from-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>

            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>

    <Main>

        <img src="/images/img-home-banner.jpg" alt="Banner">

        <section>

            <h2> Seccion:Basado en la ultima oferta </h2>

            <section>

                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">


                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>

            </section>

            <section>

                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">

                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>

            </section>

            <section>

                <img src="/images/celular.jpg" alt="Celular">

                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>

            </section>

            <section>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Televisor">

                <p>$23.200</p>
                <p>5% off</p>
                <p>SmartTv Samsung 43"</p>

            </section>
        </section>

        <section>

            <section>

                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">


                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>

            </section>

            <section>
                <h6> Macbook</h6>

                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">

                <p>$230.000</p>
                <p>20% off</p>
                <p>MacBook Pro 2019</p>

            </section>

            <section>

                <img src="/images/celular.jpg" alt="Celular">

                <p>$70.500</p>
                <p>10% off</p>
                <p>Samsung Galaxy S10</p>

            </section>

            <section>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Televisor">

                <p>$23.200</p>
                <p>5% off</p>
                <p>SmartTv Samsung 43"</p>

            </section>


        </section>

    </Main>

    <footer class="body-footer">

        <section>

            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>



            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>


            <br>
            <br>
            <br>

            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>


            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos</p>

           
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>



            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>

        <div>

            
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </div>




    </footer>




</body>

</html>