<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">


</head>


<body>

    <header class="body-header">
        <div class="componentes">


            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercadolibre">

            <form>

                <input type="text" placeholder="Buscar productos , marcas y más">
                <div class="lupa"> <i class="fa-solid fa-magnifying-glass"></i></div>


            </form>


            <h4 class="H4"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>




            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" value="" id="nombre">
            </div>

            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" value="" id="apellido">
            </div>

            <div>
                <label for="usuario">Nombre de Usuario</label>
                <input type="text" name="usuario" value="" id="usuario">
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" name="email" value="" id="email">
            </div>

            <div>
                <label for="fechaNac">Fecha de nacimiento</label>
                <input type="date" name="fechaNac" value="" id="fechaNac">
            </div>

            <div>
                <label>Domicilio</label>
                <input type="text" name="calle" value="">
                <input type="number" name="numero" value="">
            </div>

            <div>
                <label for="telefono">Teléfono</label>
                <input type="tel" name="telefono" value="" id="telefono">
            </div>

            -----------------------------------------

            <div>
                <label for="telefono">Teléfono</label>
                <input type="tel" name="telefono" value="" id="telefono">
            </div>

            <div>
                <label for="telefono">Teléfono</label>
                <input type="tel" name="telefono" value="" id="telefono">
            </div>

            <div>
                <label for="telefono">Teléfono</label>
                <input type="tel" name="telefono" value="" id="telefono">
            </div>

            <div>
                <label for="telefono">Teléfono</label>
                <input type="tel" name="telefono" value="" id="telefono">
            </div>

        



            ■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
            ■ Categorías de interés (puede elegir más de una)
            ● Electro
            ● Moda
            ● Hogar
            ● Juguetería
            ● Vida sana
            ■ Foto de usuario
            ■ Contraseña
            ■ Confirmar contraseña
            ■ Botón de enviar que nos lleve a la página principal
            ■ Botón de borrar todos los datos del formulario

        </div>

    </header>

    <main class="mainhome">


    </main>

    <footer class="body-footer">

        <section>

            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>



            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>


            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>


            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos</p>


            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>



            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>

        <div>


            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </div>




    </footer>




</body>

</html>