.body-footer {

}

.body-footer section {text-align: center;}

.body-footer section i {/* color: blue; */text-align: center;font-size: x-large;margin-bottom: 5px;height: 0em;width: 2em;color: var(--celeste);}

.body-footer section h2 {

text-align: center;
}

.body-footer section p {text-align: center;}


.body-footer div {

}

.body-footer div p {

}



/*Celular*/
@media screen and (max-width: 360px) {
    .body-footer {

text-align: center;

}
    
    .body-footer section {text-align: center;}
    
    .body-footer section i {/* color: blue; */text-align: center;font-size: x-large;margin-bottom: 5px;height: 0em;width: 2em;color: var(--celeste);}
    
    .body-footer section h2 {
    
    text-align: center;
    }
    
    .body-footer section p {text-align: center;}
    
    
    .body-footer div {
    
    }
    
    .body-footer div p {
    
    }
}

/*tablet*/
@media screen and (min-width: 361px) {
    .body-footer {

        text-align: center;
        
        }
            
            .body-footer section {text-align: center;}
            
            .body-footer section i {/* color: blue; */text-align: center;font-size: x-large;margin-bottom: 5px;height: 0em;width: 2em;color: var(--celeste);}
            
            .body-footer section h2 {
            
            text-align: center;
            }
            
            .body-footer section p {text-align: center;}
            
            
            .body-footer div {
            
            }
            
            .body-footer div p {
            
text-align: justify;
            
margin-left: 2px;
            }
}

/*web*/
@media screen and (min-width: 769px) {
  
    .body-footer {

        text-align: center;
        
        }
            
            .body-footer section {text-align: center;}
            
            .body-footer section i {/* color: blue; */text-align: center;font-size: x-large;margin-bottom: 5px;height: 0em;width: 2em;color: var(--celeste);}
            
            .body-footer section h2 {
            
            text-align: center;
            }
            
            .body-footer section p {text-align: center;}
            
            
            .body-footer div {
            
            }
            
            .body-footer div p {
            
text-align: justify;
            
margin-left: 2px;
            }
}