

/*Celular*/
@media screen and (max-width: 360px) {

    .body-header {
        width: 100%;
        background-color: #EAC926;
        margin: auto;
        font-family: var(--roboto);
        font-size: var(--cuerposDeTexto);
        height: 168px;
    }
    
    .body-header .componentes{

display: flex;

flex-wrap: wrap;

}

    .body-header .componentes img {
        width: 50%;
        /* margin: 10px 5px 5px 25px; */
    }
    
    
    .body-header .componentes form{ /* margin: 10px 0px 10px 15px; */width: 50%;/* display: block; */}
    
    .body-header form input {
    
    }
    
    .body-header .componentes form input {display: inline;color: black;width: 163px;}
    

     .body-header .componentes .H4 {
    
margin-left: 0px;
    
/* text-align: center; */
    
font-family: var(--roboto);
    
font-size: var(--cuerposDeTexto);
    
color: var(
    
--grisOscuro);
    
text-align: center;
    
height: 40px;
    
/* margin-top: 10px; */
    }
    
    .body-header .componente .H4 i {
    
    
    }
    
    
    .body-header .NAVPRINCIPAL {color: black;margin: 0px 0px 0px 0px;width: 150px;height: 70px;display: none;}
    
    .body-header .NAVPRINCIPAL ul {
        padding-left: 0%;
    }
    
    .body-header .NAVPRINCIPAL ul li {
        padding-left: 0%;
    
    }
    
    .body-header .NAVPRINCIPAL ul li a {
        padding-left: 0%;
    
    }
    
    .body-header .NAVSECUNDARIO {
        padding-left: 0%;
        display: none;
    }
    
    .body-header .NAVSECUNDARIO ul {
        padding-left: 0%;
    
    }
    
    .body-header .NAVSECUNDARIO ul li {
        padding-left: 0%;
    
    }
    
    .body-header .NAVSECUNDARIO ul li a {
        padding-left: 0%;
    
    }
    
    .body-header .burger-menu {
    
        background-color: var(--celeste);
    
    text-align: center;
    
    width: 35px;
    
    height: 35px;
    
    margin-left: 50%;
    
    border-radius: 3px;
    }
    
    .body-header .burger-menu i {
    
    color: #ebebeb;
    
    padding: 10px 0px 0px 0px;
    }
    
    }

       
    /*Tablet*/
  @media screen and (min-width: 361px) {
      
    .body-header {
        width: 100%;
        background-color: #EAC926;
        margin: auto;
        font-family: var(--roboto);
        font-size: var(--cuerposDeTexto);
        height: 200px;
    }
    
    .body-header img {
        width: 30%;
        margin: 10px 5px 5px 25px;
    }
    
    
    .body-header form{margin: 10px 0px 10px 15px;display: block;}
    
    .body-header form input {
    
    }
    
    .body-header form input {display: inline;color: black;width: 163px;}
    
     .body-header .H4 {
    
margin-left: 0px;
    
/* text-align: center; */
    
font-family: var(--roboto);
    
font-size: var(--cuerposDeTexto);
    
color: var(
    
--grisOscuro);
    
text-align: center;
    
height: 40px;
    
/* margin-top: 10px; */
    }
    
    .body-header .H4 i {
    
    
    }
    
    
    .body-header .NAVPRINCIPAL {color: black;margin: 0px 0px 0px 0px;width: 100px;height: 50px;/* display: none; */margin-left: 10px;}
    
    .body-header .NAVPRINCIPAL ul {
        padding-left: 0%;
        /* margin: 0px; */
    }
    
    .body-header .NAVPRINCIPAL ul li {
        padding-left: 0%;
    
    }
    
    .body-header .NAVPRINCIPAL ul li a {
        padding-left: 0%;
        text-decoration: none;
    }
    
    .body-header .NAVSECUNDARIO {
        padding-left: 0%;
        /* display: none; */
        margin: 0px;
        margin-left: 10px;
    }
    
    .body-header .NAVSECUNDARIO ul {
        padding-left: 0%;
    
    }
    
    .body-header .NAVSECUNDARIO ul li {
        padding-left: 0%;
    
    }
    
    .body-header .NAVSECUNDARIO ul li a {
        padding-left: 0%;
        text-decoration: none;
    }
    
    .body-header .burger-menu {
    
background-color: var(--celeste);
    
text-align: center;
    
width: 35px;
    
height: 35px;
    
margin-left: 50%;
    
border-radius: 3px;
    
display: none;
    }
    
    .body-header .burger-menu i {
    
    color: #ebebeb;
    
    padding: 10px 0px 0px 0px;
    }
    
    }
    

    /*web*/
  @media screen and (min-width: 769px) {
      
    .body-header {
        width: 100%;
        background-color: #EAC926;
        margin: auto;
        font-family: var(--roboto);
        font-size: var(--cuerposDeTexto);
        height: 387px;
    }
    
    .body-header img {
        width: 30%;
        margin: 10px 5px 5px 25px;
    }
    
    
    .body-header form{margin: 10px 0px 10px 15px;display: block;}
    
    .body-header form input {
    
    }
    
    .body-header form input {display: inline;color: black;width: 163px;}
    
     .body-header .H4 {
    
margin-left: 0px;
    
/* text-align: center; */
    
font-family: var(--roboto);
    
font-size: var(--cuerposDeTexto);
    
color: var(
    
--grisOscuro);
    
text-align: center;
    
height: 40px;
    
/* margin-top: 10px; */
    }
    
    .body-header .H4 i {
    
    
    }
    
    
    .body-header .NAVPRINCIPAL {color: black;margin: 0px 0px 0px 0px;width: 100px;height: 50px;/* display: none; */margin-left: 10px;}
    
    .body-header .NAVPRINCIPAL ul {
        padding-left: 0%;
        /* margin: 0px; */
    }
    
    .body-header .NAVPRINCIPAL ul li {
        padding-left: 0%;
    
    }
    
    .body-header .NAVPRINCIPAL ul li a {
        padding-left: 0%;
        text-decoration: none;
    }
    
    .body-header .NAVSECUNDARIO {
        padding-left: 0%;
        /* display: none; */
        margin: 0px;
        margin-left: 10px;
    }
    
    .body-header .NAVSECUNDARIO ul {
        padding-left: 0%;
    
    }
    
    .body-header .NAVSECUNDARIO ul li {
        padding-left: 0%;
    
    }
    
    .body-header .NAVSECUNDARIO ul li a {
        padding-left: 0%;
        text-decoration: none;
    }
    
    .body-header .burger-menu {
    
background-color: var(--celeste);
    
text-align: center;
    
width: 35px;
    
height: 35px;
    
margin-left: 50%;
    
border-radius: 3px;
    
display: none;
    }
    
    .body-header .burger-menu i {
    
    color: #ebebeb;
    
    padding: 10px 0px 0px 0px;
    }
       
    }